.site-masthead {
  box-sizing: border-box;
  position: relative;
  text-align: center;
}

.site-masthead h1 {
     font-size: 3em;
    margin-bottom: 0;
    margin-top: 1em;
    padding: 0 2rem;
    line-height: 0.85;
    margin-bottom: 4rem;
    color: #fffbed;
    font-family: salter;
  @media (min-width: $on-tablet) {
    font-size: 6em;
  }
}

.site-masthead h2 {
    color: #dda15e;
    font-size: 1.25em;
    margin: 0;
    padding: 0 2rem;
    line-height: 1.3;
    font-family: 'Frauen';
    font-weight: 300;
  @media (min-width: $on-tablet) {
    font-size: 3em;
  }
}
