.site-masthead {
  box-sizing: border-box;
  position: relative;
  text-align: center;
}

.site-masthead h1 {
    font-size: 3em;
    margin-bottom: 0;
    margin-top: 1em;
    padding: 0 2rem;
    letter-spacing: -1px;
    line-height: 0.85;
    font-family: 'Heldane Display';
    font-feature-settings: 'liga', 'kern', 'ss10';
    font-variant-numeric: oldstyle-nums;
    margin-bottom: 4rem;
    color: #fff2e8;
  @media (min-width: $on-tablet) {
    font-size: 160px;
    letter-spacing: -4px;
  }
}

.site-masthead h2 {
    color: #ffb982;
    font-size: 1.25em;
    margin: 0;
    padding: 0 2rem;
    line-height: 1.3;
    font-style: italic;
    font-family: 'Heldane display';
    font-feature-settings: 'ss10';
  @media (min-width: $on-tablet) {
    font-size: 3em;
  }
}
