$brand-color:         #3f5f54;
$highlight:           lighten($brand-color, 35%);
$text-color:          #283618;
$muted-text-color:    #dda15e;
$font-family:         "Ogg-Text", Garamond, "Times New Roman", serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;
